/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.container-fluid {
    padding: 0 35px 25px;
}

.col {
    padding: 15px;
}

h1 {
    margin: 0 0 25px;
    padding: 20px;
}

.pic-container {
    width: 120%;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    min-width: 220px;
}

.profile-picture {
    width: 100%;
    height: auto;
    transform: scale(1.05);
}

summary::marker {
    display: none;
}

.very-front {
    position: relative;
    z-index: 3;
}

.less-front {
    position: relative;
    z-index: 2;
}

.push-left {
    margin-right: 8%;
}

@media only screen and (max-width: 600px) {
    .pic-container {
        width: 90%;
    }
}